{#
this is the
blueprints/games/templates/index.html
here i want to keep the main game page from where user will
able to go to differt page and play some game
#}


{% extends 'base_file.html' %}

{% block title %}
🧠 Play Brain Games
{% endblock %}

{% block content %}
<div class="games-container">
    <h2>🧠 Brain Games Hub</h2>

    <p>
        🎮 Welcome to the Brain Games section!
        Challenge your mind, improve your skills, and have fun while playing.
    </p>

    {% include 'games/partials/_games_menu.html' %}

    <p>
        🚀 More exciting games are coming soon. Stay tuned!
    </p>
</div>
{% endblock %}