{#
This is blueprints/games/templates/games/memory_game.html
Memory Game page – currently under development
#}

{% extends 'base_file.html' %}

{% block title %}
🧩 Memory Game | Train Your Brain
{% endblock %}

{% block content %}

{% include 'games/partials/_games_menu.html' %}


<div style="text-align: center; margin-top: 60px;">
    <h1>🚧 Memory Game - In Development 🚧</h1>
    <p>🧠 A fun and challenging memory game is coming soon!</p>
    <p>🎴 Match cards • ⚡ Boost focus • 🏆 Improve recall</p>
    <p style="margin-top: 20px;">⏳ Please check back later!</p>
</div>
{% endblock %}