{#
This is templates/_navbar.html file i will make this so that
here i will keep the navbar items and easily i will edit this
#}

<nav class="nav-bar">
    <b>
        
        <ul>
            <li><a href="{{ url_for('general_bp.index') }}">🏠 Home</a></li>
            <li><a href="{{ url_for('general_bp.help_page') }}">🆘 Help</a></li>
            <li><a href="{{ url_for('general_bp.about_page') }}">ℹ️ About Us</a></li>
            <li><a href="{{ url_for('profile_bp.index') }}">👤 Profile</a></li>
            <li><a href="{{ url_for('games_bp.index') }}">🎲Play Games</a></li>
        </ul>

    </b>
</nav>