{#
The file is: templates/base_file.html
i will use to extends this file mainly
#}

{#
Here i used the _navbar.html parts
for showing the navbar
#}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        🖼️ Remove Watermark
        {% endblock %}
    </title>
</head>

<body>
    <header>
        {% block header_content %}
        {% endblock %}


        {% include 'partials/_navbar.html' %}


    </header>
    <hr>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <hr>
    <footer>
        {% block footer_content %}
        <h4>📌 Demo Footer Section 📌</h4>
        {% endblock %}
    </footer>
    <hr>
</body>

</html>